
.wh-list {
  width: 100%;
  border-bottom: solid 1px #eee;
}
.wh-list:hover {
  background-color: #eee;
  border-bottom: solid 1px #ccc;
}

/* Prevent list items or templates from having link colors */
wh-template > a,
wh-template > a:hover,
wh-template > a:focus,
wh-template > a:active,
.wh-list > a,
.wh-list > a:hover,
.wh-list > a:focus,
.wh-list > a:active {
  color: inherit;
}

.wh-list-left {
  float: left;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  margin-top: 2px;
  text-align: center;
}
.wh-list-right {
  float: left;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  padding-left: 0 !important;
}
.wh-list-left,
.wh-list-right {
  min-height: 90px;
  padding: 20px 20px 15px;
}
.wh-list-right > * {
  color: #666;
}
.wh-list-right h1,
.wh-list-right h2,
.wh-list-right h3,
.wh-list-right h4,
.wh-list-right h5,
.wh-list-right h6,
.wh-list-right h7 {
  color: inherit;
  margin: 5px 0;
  padding-top: 0;
  padding-bottom: 0;
}
.wh-list-condensed .wh-list-left,
.wh-list-condensed .wh-list-right {
  min-height: auto;
  padding: 10px 20px;
}

.wh-breadcrumbs {
  font-size: 11px;
}
.wh-breadcrumbs span {
  padding: 0 3px;
}
.wh-breadcrumbs a:hover {
  color: rgb(244,67,54);
}

.wh-autocomplete-template li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.wh-input-lg {
  font-size: 24px;
  margin: 35px 0 18px;
}

.wh-form > * {
  width: 90%;
}
.wh-form > .md-button,
.wh-form > md-card {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 959px) {
  .wh-form > * {
    width: 100%;
  }
  .wh-form > .md-button {
    width: auto;
  }
}

md-input-container.wh-form-horizontal {
  display: flex;
  flex-direction: row;
}
md-input-container.wh-form-horizontal label {
  position: relative;
  flex-basis: 20%;

  padding: 0 20px !important;
  text-align: right;

  transform: none !important;
  transition: none !important;
}
md-input-container.wh-form-horizontal input {
  position: relative;
  flex-basis: 78%;
}
md-input-container.wh-form-horizontal input .md-errors-spacer {
  position: relative;
  flex-basis: 100%;
}

.wh-icon-fade md-icon {
  color: rgba(0,0,0,0.26);
}
md-input-container.md-icon-float.wh-icon-right.md-has-icon {
  padding-left: 0;
  padding-right: 36px;
}
md-input-container.md-icon-float.wh-icon-right.md-has-icon label {
  left: 0;
}
md-input-container.md-icon-float.wh-icon-right md-icon {
  left: auto;
  right: 2px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 600px) {
}
