/* Angular Material Bug Fixes */
md-fab-speed-dial md-fab-actions[aria-hidden="true"] button {
  display: none;
}
/* End Angular Material Bug Fixes */


/* Form Styling */
.input-rows [layout=row] {
  /* max-height: 45px; */
}
.input-rows {
  padding-bottom: 15px;
}
.input-rows [layout=row] .input-left {
  padding: 8px 15px 0 0;
  font-weight: bold;
  text-align: right;
  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
}
.input-rows [layout=row] .input-left,
.input-rows [layout=row] .input-right {
  margin-top: 0;
  margin-bottom: 0;
}
/* End Form Styling */


/* Table Styling */
.table {
  width: 100%;
  margin: 5px 0 15px;
  font-size: 14px;
  border-spacing: 0;
}
.table-striped {
  border: solid 1px #DDD;
  border-bottom: none;
  border-radius: 4px;
}
.table th,
.table td {
  padding: 14px 8px;
}
.table-striped th,
.table-striped td {
  border-bottom: solid 1px #DDD;
}
.table-condensed th,
.table-condensed td {
  padding: 8px 4px;
}
.table-nowrap th,
.table-nowrap td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* End Table Styling */


/* Definition List Styling */
/* dl {font-size: 1em;} */
/* dl dt, dl dd {float: left; display: inline-block; padding: 8px 8px; box-sizing: border-box;} */
/* dl dt {width: 30%; font-weight: bold; text-align: right; clear: left;} */
/* dl dd {width: 70%; margin: 0;} */
/* End Definition List Styling */


/* Logo */
.logo {
  padding: 0;
  margin: -5px 118px 1px 25px;
  line-height: 88px;
  letter-spacing: -.03em;
  font-size: 97px;
  font-family: 'Kanit', cursive;
  text-align: center;
  border-bottom: solid 15px white;

          transform: scale(1, .5);
  -webkit-transform: scale(1, .5); /* Safari and Chrome */
     -moz-transform: scale(1, .5); /* Firefox */
      -ms-transform: scale(1, .5); /* IE 9+ */
       -o-transform: scale(1, .5); /* Opera */
}
/* End Logo */


/* Page Layout */
.page-container {
  position: relative;
  overflow: auto;
}
.page-content {
  max-height: 100%;
  /* padding-bottom: 90px; */
  position: relative;
  overflow: auto;
}
.page-content > md-content {
  padding-bottom: 90px;
}
main-content {
  max-width: 100%;
  position: relative;
}
#leftSidenavToggle {
  min-width: 0;
  max-height: 100%;
  margin-left: -16px;
  padding: 14px 17px 5px 15px;
}
#leftSidenavToggle .mdi {
  color: black;
  font-size: 38px;
}
.refresh-button {
  float: right;
  margin-top: -8px;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.refresh-button .mdi, button {outline: none;}
.refresh-button .mdi {padding: 4px 2px 3px;}
.refresh-button:active {
  background-color: rgba(158,158,158,0.2);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.541176);
}
.scroll {
  overflow: scroll;
}

/* End Page Layout */


/* Details Pane

The details pane is locked open when the screen is gt-sm.  We change
the z-index to 1 so that the sidenav is behind the backdrop when the
Help Center is open.  On sm screens we revert it back to z-index 60 so
it will be on top of the backdrop. */
.details-pane {
  max-width: 80%;
  min-width: 50%;
  z-index: 1;
}

@media (max-width: 959px) {
  md-toast {
    top: 0 !important;
  }
}

@media screen and (max-width: 959px) {
  #leftSidenavToggle {
    padding: 8px 12px 4px 10px;
  }
  #leftSidenavToggle .mdi {
    font-size: 33px;
  }
  .details-pane {
    z-index: 59;
    min-width: 60%;
  }
}
@media screen and (max-width: 599px) {
  .details-pane {
    min-width: 80%;
  }
}
@media screen and (max-width: 479px) {
  .details-pane {
    min-width: 100%;
  }
}
@media screen and (orientation:portrait) {
  #leftSidenavToggle {
    padding: 12px 15px 4px 12px;
  }
}
/* End Details Pane */


/* Left SideNav */
.dark-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.15+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.md-theme-inverse {background-color: rgb(244,67,54);}
.md-theme-inverse, .md-theme-inverse * {color: rgb(255,255,255);}
#leftMenu .md-button {
  font-size: 16px;
  margin: 0;
}
#leftMenu .md-avatar-icon {
  padding: 0 0 5px 0;
  margin-top: 0;
  margin-right: 18px;
  margin-bottom: 1px;
}
/* End Left SideNav */


/* File Dropzone */
.file-dropzone {
  max-height: 140px;
  position: relative;
  text-align: center;
  border-style: dashed;
  padding: 40px;
  margin: 10px 0;
  border-width: 5px;
  border-color: rgb(244,67,54);
  color: rgb(244,67,54);
  font-size: 1.2em;
  font-weight: bold;
  line-height: .9em;
}
.file-dropzone:after {
  border: 5px solid white;
  background-color: #FFF8F8;
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
}
.file-dropzone-drag {
  color: #F8F8FF;
}
.file-dropzone-drag:after {
  background-color: rgb(244,67,54);
}
.file-dropzone small {
  color: rgb(244,67,54);
  font-size: .6em;
  font-weight: 0;
}

/* End File Dropzone */


/* Icon Fixes */
.md-fab .mdi {
  margin-top: 11px;
  font-size: 34px;
}
.md-fab.md-mini .mdi {
  font-size: 19px;
}
.mdi {
  font-size: 48px;
}
.mdi.mdi-mini {
  font-size: 24px;
}
/* End Icon Fixes */


/* Buttons */
.md-button.md-micro {
  font-size: 10px;
  min-height: 22px;
  line-height: 14px;
}
/* End Buttons */


/* Errors */
[ng-message],
.error-message,
.form-error * {
  color: rgb(244,67,54) !important;
}
[ng-message] {
  font-size: 12px;
}

.alert {
  margin: 0;
  padding: 15px 30px;
  text-align: center;
}
.alert-warning,
.alert-warn {
  color: rgb(244,67,54);
  background-color: #FEE;
}
warning {
  padding: 0 !important;
}
.form-errors * {
  color: red;
}
/* End Errors */


/* Animations */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating .75s linear infinite;
  -moz-animation: rotating .75s linear infinite;
  -ms-animation: rotating .75s linear infinite;
  -o-animation: rotating .75s linear infinite;
  animation: rotating .75s linear infinite;
}
/* End Animations */


/* Chat Styling */
.message {
  width: 100%;
  padding: 5px 0 9px;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}
.message .time {
  color: #777;
  font-size: 10px;
  position: absolute;
  bottom: 0;
}
.message.you .time {
  left: 10%;
}
.message.me .time {
  right: 10%;
}
.message .author {
  color: #777;
  font-size: 10px;
  position: absolute;
  top: 0;
}
.message.you .author {
  left: 20px;
}
.message.me .author {
  right: 20px;
}
.bubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}
.bubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:         rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.you .bubble {
  float: left;
  margin: 10px 45px 6px 20px;
}
.you .bubble::before {
  left: -9px;
}

.me .bubble {
  float: right;
  margin: 10px 20px 6px 45px;
  background-color: rgb(244,67,54);
  color: white;
}
.me .bubble::before {
  right: -9px;
  background-color: rgb(244,67,54);
}
/* End Chat Styling */


/* Start Header Note */
.right-note {
  position: relative;
  padding-right: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-note .note {
  font-size: 12px;
  position: absolute;
  top: 3px;
  right: 0;
}
/* End Header Note */


/* General Layout */
.tabs-layout-fill,
.tabs-layout-fill md-tabs-content-wrapper,
.tabs-layout-fill md-tab-content,
.tabs-layout-fill md-tab-content div[md-tabs-template] {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.tabs-layout-fill md-tab-content {overflow: auto;}
.tabs-layout-fill md-tab-content div[md-tabs-template] {flex: 1 1 auto; min-height: 0;}
.page-content > md-tabs.action-padding div[md-tabs-template] {padding-bottom: 90px;}

md-input-container.beside-button {margin: 10px 0px 0px;}
md-input-container.beside-button .md-errors-spacer {position: absolute;right: 27px;bottom: 6px;}

@media (min-width: 959px) {
  md-dialog {
    min-width: 50%;
  }
}
.layout-padding > preview-media {
  padding: 0;
}
.flex-table .layout-row {
  border-bottom: solid 1px #DDD;
}
.flex-table .layout-row > * {
  padding: 15px 15px;
}
.flex-table a.layout-row {
  color: black;
}
/* End General Layout */


/* General Styling */
html, body { font-size: inherit; }
* {box-sizing: border-box;}
a {
  color: rgb(244,67,54);
  text-decoration: none;
  outline: none;
}
a.md-button i.mdi {
  float: left;
  margin: 6px 5px 0 0;
}
small {
  color: #999;
  font-size: .7em;
}
h1,h2,h3,h4,h5,h6 {margin: 1em 0 .8em; padding: .3em 0;}
h3,h4,h5,h6 {font-weight: 400;}
.underline {border-bottom: solid 1px rgba(0,0,0,0.12);}
.underline.dark {border-color: #000}
textarea {overflow-y: auto !important;}
textarea[rows="1"], textarea[rows="NaN"] {overflow-y: hidden !important;}
.block {display: block;}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.no-wrap {
  /* display: inline-block; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pre {white-space: pre;}
.pre-wrap {white-space: pre-wrap;}
.children-no-wrap > * {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
icon-button .mdi {
  font-size: 1.5em;
}

.pull-right {float: right;}
.pull-left {float: left;}

.md-primary {color: rgb(244,67,54) !important;}
.md-accent {color: #777 !important;}
.md-warn {color: rgb(0,0,0) !important;}

.md-primary-reverse {background-color: rgb(244,67,54) !important; color: white !important;}
.md-accent-reverse {background-color: rgb(238,238,238) !important; color: black !important;}
.md-warn-reverse {background-color: rgb(51,51,51) !important; color: white !important;}

.md-raised.md-primary {color: white !important;}
.md-raised.md-accent {color: black !important;}
.md-raised.md-warn {color: white !important;}

.sm-padding, .sm-padding>* {padding: 4px;}
.md-padding, .md-padding>* {padding: 8px;}
.lg-padding, .lg-padding>* {padding: 12px;}
.no-padding {padding: 0 !important;}
.no-vertical-padding {padding-top: 0 !important;padding-bottom: 0 !important;}
.no-horizontal-padding {padding-left: 0 !important;padding-right: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}

.no-outline {outline: none !important;}

.no-margin {margin: 0 !important;}
.no-vertical-margin {margin-top: 0 !important;margin-bottom: 0 !important;}
.no-horizontal-margin {margin-left: 0 !important;margin-right: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-left {margin-left: 0 !important;}
.no-margin-right {margin-right: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}

body .padding-0 { padding:0px !important; }
body .padding-left-0 { padding-left:0px !important; }
body .padding-right-0 { padding-right:0px !important; }
body .padding-top-0 { padding-top:0px !important; }
body .padding-bottom-0 { padding-bottom:0px !important; }

.padding-5 { padding:5px !important; }
.padding-left-5 { padding-left:5px !important; }
.padding-right-5 { padding-right:5px !important; }
.padding-top-5 { padding-top:5px !important; }
.padding-bottom-5 { padding-bottom:5px !important; }

.padding-15 { padding:15px !important; }
.padding-left-15 { padding-left:15px !important; }
.padding-right-15 { padding-right:15px !important; }
.padding-top-15 { padding-top:15px !important; }
.padding-bottom-15 { padding-bottom:15px !important; }

.padding-30 { padding:30px !important; }
.padding-left-30 { padding-left:30px !important; }
.padding-right-30 { padding-right:30px !important; }
.padding-top-30 { padding-top:30px !important; }
.padding-bottom-30 { padding-bottom:30px !important; }

.padding-45 { padding:45px !important; }
.padding-left-45 { padding-left:45px !important; }
.padding-right-45 { padding-right:45px !important; }
.padding-top-45 { padding-top:45px !important; }
.padding-bottom-45 { padding-bottom:45px !important; }

body .margin-0 { margin:0px !important; }
body .margin-left-0 { margin-left:0px !important; }
body .margin-right-0 { margin-right:0px !important; }
body .margin-top-0 { margin-top:0px !important; }
body .margin-bottom-0 { margin-bottom:0px !important; }

.margin-5 { margin:5px !important; }
.margin-left-5 { margin-left:5px !important; }
.margin-right-5 { margin-right:5px !important; }
.margin-top-5 { margin-top:5px !important; }
.margin-bottom-5 { margin-bottom:5px !important; }

.margin-15 { margin:15px !important; }
.margin-left-15 { margin-left:15px !important; }
.margin-right-15 { margin-right:15px !important; }
.margin-top-15 { margin-top:15px !important; }
.margin-bottom-15 { margin-bottom:15px !important; }

.margin-30 { margin:30px !important; }
.margin-left-30 { margin-left:30px !important; }
.margin-right-30 { margin-right:30px !important; }
.margin-top-30 { margin-top:30px !important; }
.margin-bottom-30 { margin-bottom:30px !important; }

.margin-45 { margin:45px !important; }
.margin-left-45 { margin-left:45px !important; }
.margin-right-45 { margin-right:45px !important; }
.margin-top-45 { margin-top:45px !important; }
.margin-bottom-45 { margin-bottom:45px !important; }

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.strike {text-decoration: line-through;}
.small {font-size: .8em;}
.big {font-size: 1.25em;}

.inline-block {display: inline-block;}

.hover-bg:hover {
  background-color: rgb(238,238,238);
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
/* End General Styling */

/* Angular Material Bug Fixes Start */
.md-button-group .md-button {
  font-size: 16px;
  margin: 20px 0;
  padding: 3px 15px 3px 15px;
  color: rgb(49, 46, 46);
  background-color: rgba(224, 224, 224, 0.96);
  text-transform: none;
  font-weight: 400;
  display:inline-block;
  min-width: 55px;
}
.md-button-group .md-button i {
  display: inherit;
}

.md-button.md-accent.active {
  background: #A0A0A0;
}

.md-button.left {
  border-radius: 10px 0 0 10px;
}
.md-button.middle {
  border-radius: 0;
  border-left: 1px solid rgba(230, 230, 230, 0.96);
  border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
  border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
  background-color: rgba(193, 193, 193, 0.96);
  color: rgba(0,0,0,0.6);
  transition: 0.3s;
}
/*. Angular Material Bug Fixes End */

/* Visibility Start */
@media (max-width: 599px) {
  .xs-hidden {display:none;}
}
@media (min-width: 600px) and (max-width: 959px) {
  .sm-hidden {display:none;}
  .gt-xs-hidden {display:none;}
}
@media (min-width: 960px) and (max-width: 1279px) {
  .md-hidden {display:none;}
  .gt-xs-hidden {display:none;}
  .gt-sm-hidden {display:none;}
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .lg-hidden {display:none;}
  .gt-xs-hidden {display:none;}
  .gt-sm-hidden {display:none;}
  .gt-md-hidden {display:none;}
}
@media (min-width: 1920px) {
  .gt-xs-hidden {display:none;}
  .gt-sm-hidden {display:none;}
  .gt-md-hidden {display:none;}
  .gt-lg-hidden {display:none;}
}
/* Visibility End */

/* md-table CSS Start -- (found at http://codepen.io/anon/pen/rrZRgR) */
.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}
.md-table.no-hover tbody tr:hover,
.md-table.no-hover tbody tr:hover,
.md-table tbody tr.no-hover:focus {
  cursor: default;
  background: initial;
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 50px;
  height:50px;
/* border-radius:20px;*/
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}
/* md-table CSS End */
