<div class="page-content"
     ng-class="{'no-padding-bottom': noPadding || !(actions && actions.length)}"
     layout="column" flex ng-transclude>
</div>
<!-- <div ng-show="returnUrl" ng-hide="hideBtns" -->
<!--      style="position: absolute; -->
<!-- 	    bottom: 12px; left: 7px;"> -->
<!--     <md-button ng-href="{{returnUrl}}" -->
<!-- 	       class="md-fab md-accent" aria-label="Back"> -->
<!-- 	<md-icon>arrow_back</md-icon> -->
<!--     </md-button> -->
<!-- </div> -->
<!-- <div ng-show="actions && actions.length" -->
<!--      ng-hide="hideBtns" -->
<!--      style="position: absolute; -->
<!-- 	    bottom: 12px; right: 7px;"> -->
<!--     <md-fab-speed-dial class="md-scale" -->
<!-- 		       md-open="False" -->
<!-- 		       md-direction="up"> -->
<!-- 	<md-fab-trigger> -->
<!-- 	    <md-button aria-label="menu" class="md-fab md-accent"> -->
<!-- 		<i class="mdi mdi-dots-vertical"></i> -->
<!-- 	    </md-button> -->
<!-- 	</md-fab-trigger> -->
<!-- 	<md-fab-actions> -->
<!-- 	    <div ng-repeat="action in actions"> -->
<!-- 		<md-button aria-label="{{action.label}}" -->
<!-- 			   class="md-fab md-raised md-mini md-primary" -->
<!-- 			   ng-click="action.click(action)"> -->
<!-- 		    <i class="mdi mdi-{{action.icon}}"></i> -->
<!-- 		</md-button> -->
<!-- 	    </div> -->
<!-- 	</md-fab-actions> -->
<!--     </md-fab-speed-dial> -->
<!-- </div> -->
